#headline, #footer {
    flex: 1 100%;
}

a {
    color: color: #44b;
    text-decoration: none;
    transition: color .15s ease-out;
}

a:hover {
    color: #e00;
}

#footer {
    display: flex;
    display: -webkit-flex;
    padding: 0 100px;
    border-bottom: 1px solid rgba(0,0,0,.06);
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

h1 {
    margin: 0;
    padding: 20px 10px 10px 0;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

#menu {
    display: flex;
    display: -webkit-flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    -webkit-justify-content: center;
}

#menu li {
    margin-left: 40px;
    list-style-type: none;
    font-size: 14px;
    line-height: 24px;
}

#menu li a {
    display: block;
    padding: 20px 10px;
}

#headline {
    display: flex;
    display: -webkit-flex;
    padding: 20px 100px 20px 80px;
    background-color: #1d3846;
    -webkit-align#content: stretchl
    border-bottom: 1px solid rgba(0,0,0,.06);
    /*background: #1d3846 url(img/bg1.jpg) no-repeat right bottom;*/
}

#content {
    padding: 20px;
    border-radius:  10px 0 0 10px;
    background-color: rgba(0,0,0,.6);
}

#headline h2 {
    margin: 0;
    padding: 0 0 20px 0;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 32px;
}


#headline p {
    padding: 0 0 10px 0;
    color: white;
}

#headline #subheader {
    margin: 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgba(0,0,0,.06);
    border-left: 0;
    font-size: 16px;
}

#headline #form {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-left: 1px;
    padding: 20px;
    width: 40%;
    border-radius: 0 10px 10px 0;
    background-color: rgba(0,0,0,.6);
}

#headline #form input {
    margin-bottom: 10px;
    padding: 5px;
    width: auto;
    border: white;
    background-color: rgba(255,255,255,0.6);
    color: #333;
    font-style: italic;
    font-size: 13px;
    line-height: 16px;
}

#headline #form textarea {
    margin-bottom: 10px;
    padding: 5px;
    width: auto;
    border: 0;
    background-color: rgba(255,255,255,0.6);
    color: #333;
    font-style: italic;
    font-size: 13px;
    line-height: 16px;
}

#headline #form h3 {
    margin: 0;
    padding: 0 0 20px 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
}

#content {
    padding: 30px 100px;

}

#content h3 {
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
}

#content ul {
    margin: 0;
    padding: 0;

}

#content ul li {
    margin: 20px 0;
    padding: 30px;
    border-left: 5px solid rgba(0,0,0,.08);
    background-color:  rgba(0,0,0,.06);
    list-style-type: none;
    font-size: 16px;
}

#button {
    padding: 10px;
    border: 2px solid #fd5;
    border-radius: 9px;
    background-color: white;
    font-size: 18px;
}

.button_action_view {
    padding: 6px 10px;
    border: 0px;
    border-radius: 6px;
    background-color: #fd5;
    font-size: 14px;
}

#footer {
    border-top: 1px solid rgba(0,0,0,.06);
}
